.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: rgba(107, 104, 104, 0.8);
  font-size: 1.2rem;
}

.nav {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
