.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border: 1px solid red;
  border-radius: 10px;
  background: linear-gradient(to top, #000000, #ffffff);
}

.sectionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.sectionSubtitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.sectionButtons {
  display: flex;
  gap: 1rem;
}

.sectionButton {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}
